/* Padding */
#exemplo {
	background-color: green;
	color: #fff;
	width: 500px;	
	/* padding unico, ler no sentido horario iniciando do top */
	padding: 10px 20px 30px 30px;
	/*
	padding-top: 10px; (1)
	padding-right: 20px; (2)
	padding-bottom: 30px; (3)
	padding-left: 30px; (4)
	*/
}

/* Margin */
#exemplo2 {
	background-color: red;
	color: #fff;
	width: 500px;
	/* margin unico, ler no sentido horario a partir do top */
	margin: 20px 30px 20px 40px;
	/*
	margin-top: 20px; (1)
	margin-right: 20px; (2)
	margin-bottom: 10px; (3)
	margin-left: 20px; (4)
	*/
}